/*================
FONTS
/*===============*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*================
GLOBAL VARIABLES
/*===============*/
:root {
    /* Text */
    --ff-primary: 'Kumbh Sans', sans-serif;
    --ff-size: 12px;
    --clr-dark-desat-blue: hsl(238, 29%, 16%);
    --clr-soft-red: hsl(14, 88%, 65%);
    --clr-v-dark-gray-blue: hsl(237, 12%, 33%);
    --clr-dark-gray-blue: hsl(240, 6%, 50%);

    /* background gradient */
    --clr-soft-violet: hsl(273, 75%, 66%);
    --clr-soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --clr-light-gray-blue: hsl(240, 5%, 91%);
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    padding-top: 5rem;
    background: linear-gradient(var(--clr-soft-violet), var(--clr-soft-blue));
    font-family: var(--ff-primary);
    font-size: var(--ff-size);
    font-weight: 400; /* default */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.card{
    height: 33rem;
    width: 21.5625rem;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 20px rgba(0,0,0,.3);
}
.card-illustration{
    position: relative;
    width: 100%;
    margin-bottom: 9rem;
}
.desktop-illustration{
    display: none;
}
.mobile-illustration{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-55%, -34%);
}
.mobile-illustration img:nth-child(2){
    transform: translate(5%, -80%);
}
.card-content{
}
.card-header-text{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: var(--clr-dark-desat-blue);
}
.questions{
    list-style-type: none;
    padding: 3em 2em;
}
.question{
    border-bottom: 1px solid var(--clr-light-gray-blue);
}
.question:first-child{
    padding-bottom: 1.5em;
}
.question:not(.question:first-child){
    padding: 1.5em 0;
}
.question-text{
    font-weight: normal;
    font-size: 14px;
    color: var(--clr-v-dark-gray-blue);
    display: flex;
    justify-content: space-between;
    transition: color .3s;
}
.question-text img{
    width: 12px;
}
.question-text:hover{
    cursor: pointer;
    color: var(--clr-soft-red);
}
.answer{
    color: var(--clr-dark-gray-blue);
    line-height: 20px;
    padding: .8em 0;
    width: 90%;
    word-wrap: break-word;
    display: none;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: white;
}
