/*================
FONTS
/*===============*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*================
GLOBAL VARIABLES
/*===============*/
:root {
    /* Text */
    --ff-primary: "Kumbh Sans", sans-serif;
    --ff-size: 12px;
    --clr-dark-desat-blue: hsl(238, 29%, 16%);
    --clr-soft-red: hsl(14, 88%, 65%);
    --clr-v-dark-gray-blue: hsl(237, 12%, 33%);
    --clr-dark-gray-blue: hsl(240, 6%, 50%);

    /* background gradient */
    --clr-soft-violet: hsl(273, 75%, 66%);
    --clr-soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --clr-light-gray-blue: hsl(240, 5%, 91%);
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    padding-top: 5rem;
    background: linear-gradient(var(--clr-soft-violet), var(--clr-soft-blue));
    font-family: var(--ff-primary);
    font-size: var(--ff-size);
}
.card {
    display: flex;
    flex-direction: column;
    height: 33rem;
    width: 21.5625rem;
    background: white;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
.card-illustration {
    position: relative;
    width: 100%;
    margin-bottom: 9rem;
}
.desktop-illustration {
    display: none;
}
.mobile-illustration {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-55%, -34%);
}
.mobile-illustration img:nth-child(2) {
    transform: translate(5%, -80%);
}
.card-header-text {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: var(--clr-dark-desat-blue);
}
.questions {
    list-style-type: none;
    padding: 2.2em 2em 3em;
}
.question {
    border-bottom: 1px solid var(--clr-light-gray-blue);
}
.question:first-child {
    padding-bottom: 1.5em;
}
.question:not(.question:first-child) {
    padding: 1.5em 0;
}
.question-text {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 14px;
    color: var(--clr-v-dark-gray-blue);
    transition: color 0.3s;
}
.question-text img {
    width: 12px;
}
.question-text:hover {
    cursor: pointer;
    color: var(--clr-soft-red);
}
.answer {
    display: none;
    color: var(--clr-dark-gray-blue);
    line-height: 20px;
    padding-top: 0.8em;
    width: 90%;
    word-wrap: break-word;
}
/* =================== 
Active state
==================== */
.question.active .question-text {
    font-weight: 700;
}
.question.active .question-text img {
    transform: rotate(180deg);
}
.question.active .answer {
    display: block;
}
/* =================== 
End Active state
==================== */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: white;
}
@media screen and (min-width: 992px) {
    .card {
        height: 500px;
        width: 900px;
        flex-direction: row;
    }
    .card-illustration {
        width: 45%;
        height: 100%;
        position: relative;
    }
    .mobile-illustration {
        display: none;
    }
    .desktop-illustration {
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow: hidden;
    }
    .desktop-illustration img:first-child {
        transform: scale(2.3) translate(-30%, -2%);
    }
    .desktop-illustration img:nth-child(2) {
        transform: scale(1.1) translate(-12%, -90%);
    }
    .desktop-illustration img:last-child {
        position: absolute;
        top: 40%;
        left: -32%;
    }
    .card-content{
        display: flex;
        flex-direction: column;
        place-content: center;
        flex: 1 0 auto;
        width: 55%;
        padding: 0 7em 0 2em;
    }
    .card-header-text {
        display: flex;
        flex: 0 0 auto;
        padding-top: 2.5em;
        padding-left: 0.8em;
        margin-bottom: .5em;
        text-align: left;
    }
    .questions {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}